﻿@page
@model LoginModel
@{
	Layout = null;
	ViewBag.Title = "SIGN IN";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container" style="left: 50%;">
	<div class="form-group" style="margin-left: 25%; margin-top: 15%">
		<form id="account" method="post">
			<div class="form-row">
				<div class="col-md-6">
					<img src="/images/logo.png" style="margin-left: 100px" />
					<hr />
				</div>
			</div><br />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-row">
				<div class="col-md-6">
					<label asp-for="Input.Email"></label>
					<input asp-for="Input.Email" class="form-control" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
			</div><br />
			<div class="form-row">
				<div class="col-md-6">
					<label asp-for="Input.Password"></label>
					<input asp-for="Input.Password" class="form-control" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
			</div><br />
			<div class="form-row">
				<div class="col-md-6">
					<button type="submit" class="form-control btn btn-primary">SIGN IN</button>
				</div>
			</div>
			<div class="form-row">
				<p>
					<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
				</p>
			</div>
		</form>
	</div>
</div>

@*<div class="col-md-6 col-md-offset-2">
	<section>
		<h4>Use another service to log in.</h4>
		<hr />
		@{
			if ((Model.ExternalLogins?.Count ?? 0) == 0)
			{
				<div>
					<p>
						There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
						for details on setting up this ASP.NET application to support logging in via external services.
					</p>
				</div>
			}
			else
			{
				<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
					<div>
						<p>
							@foreach (var provider in Model.ExternalLogins)
							{
								<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
							}
						</p>
					</div>
				</form>
			}
		}
	</section>
</div>*@

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
