﻿@model IEnumerable<vBlogger.Web.Models.PostViewModel>

@if (Model.Any())
{
	 foreach (var item in Model)
	 {
<div class="row" style="margin-bottom: 50px">
	<div class="col-md-5">
		<a asp-action="Details" asp-route-id="@item.Id"><img height="300" width="350" src="@item.ImageUrl" class="img-responsive" alt=""></a>
	</div>
	<div class="col-md-7" style="padding: 5px; margin-left: -40px">
		<div class="col-md-12">
			<div style="display: inline; margin-bottom: 25px">
				<img src="images/avatar.png" width="35" height="35" alt="avatar" />
				<span>@item.Author</span>
			</div>
			<p style="margin-left: 40px">@item.CreatedDate.ToString("M")</p>
			<a style="text-decoration: none; color: black" asp-action="Details" asp-route-id="@item.Id">
				<h2>@item.Title</h2>
			</a>
		</div>
		<div class="col-md-12">
			<a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; color: black">
				<p>
					@item.Blurb
				</p>
			</a>
		</div>
	</div>
</div>
	 }
}
else
{
<div class="row" style="margin-bottom: 50px">
	<label>No Posts Yet</label>
</div>
}