﻿@model vBlogger.Web.Models.PostViewModel
@{
	Layout = "_Layout";
	ViewBag.Title = "Read";
}

<div class="row container">
	<h1 class="red-text text-center">@Model.Title</h1>
</div>
<hr />
<div id="articles" class="container-fluid">
	<div class="card-body">
		<div class="form-row">
			<div class="col-md-5">
				<img src="@Model.ImageUrl" width="350" height="300" class="img-responsive" alt="image" />
			</div>
			<div class="col-md-6">
				<label>Date:</label>
				<label><b>@Model.CreatedDate.ToString("dd MMM yyyy")</b></label><br />
				<label>Author:</label>
				<label><b>@Model.Author</b></label><br />
				<label>Tags:</label>
				<label><b>@Model.TagsString</b></label>
			</div>
		</div><br />
		<div class="form-row">
			<div class="col-md-12">
				@Model.Article
			</div>
		</div>
	</div>
</div>
