﻿@model vBlogger.Web.Models.PostViewModel
@{
	Layout = "_Layout";
	ViewBag.Title = "Edit";
}

<div class="row container">
	<h1 class="red-text text-center">Edit Post</h1>
</div>
<hr />
<div id="articles" class="container-fluid">
		<div class="card"> 
			<div class="card-body">  
				<form asp-controller="Post" asp-action="Edit" method="post" enctype="multipart/form-data">
					<div class="form-row">
						<input asp-for="Id" type="hidden"/>
						<input asp-for="CreatedDate" type="hidden"/>
						<input asp-for="Author" type="hidden"/>
						<div class="col-md-6">
							<label>Title</label>
							<input asp-for="Title" type="text" placeholder="Title" class="form-control"/>
						</div>
					</div><br/>
					<div class="form-row">
						<div class="col-md-6">
							<div class="col-md-6">
								<label>Image</label>
								<input name="picture" type="file" placeholder="Image" class="form-control"/>
							</div>
						</div>
					</div><br/>
					<div class="form-row">
						<label>Blurb</label>
						<textarea asp-for="Blurb" rows="5" class="form-control"></textarea>
					</div><br/>
					<div class="form-row">
						<label>Article</label>
						<textarea asp-for="Article" rows="5" class="form-control"></textarea>
					</div><br/>
					<div class="form-row">
						<label>Tags (<i>comma separated</i>)</label>
						<input asp-for="TagsString" type="text" placeholder="Adventure, Sport, Animals" class="form-control" />
					</div>
					<div style="margin-top:15px;">
						<button type="submit" asp-controller="Post" asp-action="Manage" class="btn btn-danger rounded-0">Cancel</button>
						<button type="submit" class="btn btn-primary rounded-0">Submit</button>
					</div>
				</form>  
			</div>  
		</div>  
</div>
