﻿@model IEnumerable<vBlogger.Web.Models.PostViewModel>
@{
	Layout = "_Layout";
	ViewBag.Title = "Posts";
}

<div class="row container">
	<h1 class="red-text text-center">Stories</h1>
</div>
<hr />
<div id="articles" class="container-fluid" style="margin-top: 15px">
</div>
@if (Model.Any())
{
	<div class="row" style="padding: 5px; margin-top: 50px">
		<div class="col-md-12" style="height: 200px; left: 50%">
			<button id="loadMore" type="button" value="Load More..." class="btn btn-primary">Load More...</button>
		</div>
	</div>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
	$(document).ready(function() {
		loadPostAsync(false);
	});

	$('#loadMore').on('click', function () {
		loadPostAsync(true);
	});

	function loadPostAsync(loadMore) {
		$.ajax({
			url: '@Url.Action("LoadPost", "Post")',
			dataType: "html",
			data: { "loadMore": loadMore },
			type: "GET",
			contentType: "application/json",
			success: function (response) {
				$('#articles').html(response);
			},
			error: function (err) {
				alert(err.responseText);
			}
		});
	}
</script>
