﻿@model IEnumerable<vBlogger.Web.Models.PostViewModel>
@{
	Layout = "_Layout";
	ViewBag.Title = "Manage Posts";
}

<div class="row container">
	<h1 class="red-text text-center">Manage Posts</h1>
</div>
<hr />
<div class="form-group" style="margin-left: 8px">
	<a asp-action="Create" class="btn btn-primary">Add Post</a>
</div>
<div class="form-group">
	<table class="table table-sm table-striped table-bordered m-2">
		<thead><tr><th>Author</th><th>Title</th><th>Created Date</th><th></th><th></th></tr></thead>
		<tbody>
			@foreach (var post in Model)
		{
			<tr>
				<td>@post.Author</td>
				<td>@post.Title</td>
				<td>@post.CreatedDate</td>
				<td>
					<a asp-action="Edit" asp-route-id="@post.Id">Edit</a>
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>