<div class="row"> 
  <div class="col-md-offset-10 col-md-2">
    <a href="#">Create Blog</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created Date</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let owner of owners">
            <td>{{blog.title}}</td>
            <td>{{blog.author}}</td>
            <td>{{blog.createdDate | date: 'dd/MM/yyyy'}}</td>
            <td><button type="button" id="details" class="btn btn-default">Details</button></td>
            <td><button type="button" id="update" class="btn btn-success">Update</button></td>
            <td><button type="button" id="delete" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>