@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (!SignInManager.IsSignedIn(User))
{
	<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
}
else
{
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" style="margin-left: -70px" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<label>Hello @User.Identity.Name!</label>
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			@if (SignInManager.IsSignedIn(User))
			{
				<a class="dropdown-item" asp-controller="Post" asp-action="Manage">Manage Posts</a>
				<form class="dropdown-item form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Post", new {area = ""})">
					<button type="submit" class="nav-link btn btn-link text-dark">Sign Out</button>
				</form>
			}
			else
			{
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
			}
		</div>
	</li>
}